body {
    background-color: black;
    text-align: center;   
    color: white;
}

img {
    height: 100%;
    vertical-align: middle;
    opacity: 0.2;
    position: relative;
}

div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50% );
    width: 100%;    
}

.divH1 {    
    font-size: 70px;
    text-align: center;
    color: white;
    text-shadow: 3px 2px black;
    background-color: gray;
    opacity: 0.5;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -400% );
    width: 100%;
}

#divSpan {
    color: red;
}

#divA {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -400% );
    
}

#divInput {
    top: 200%;
    left: 25%;    
    width: 300px;
}

#divCount {
    top: 100%;
    left: 75%;    
    
}

a {
    font-size: 30px;    
}

a:link {
    color: blue;
}

a:visited {
    color: gray;
}

a:hover {
    color: yellow;
}