body {
    background-color: black;
    text-align: center;    
}

img {
    height: 100%;
    vertical-align: middle;
    opacity: 0.2;
    position: relative;
}

div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50% );
    width: 100%;    
}

div > h1 {        
    font-size: 70px;
    text-align: center;
    color: yellow;
    text-shadow: 3px 2px black;
    background-color: black;
    opacity: 0.5;
}

textarea {
    font-size: 50px;
    background-color: black;
    opacity: 0.5;
    color: white;
}

input[type="submit"] {
    background-color: violet;
    color: black;
    font-size: 16px;
    padding: 16px 30px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}

input[type="submit"]:hover {
    background-color: royalblue;
    color: white;
}

a {
    font-size: 30px;    
}

a:link {
    color: blue;
}

a:visited {
    color: gray;
}

a:hover {
    color: yellow;
}